.gl-content-item {
  width: 100%;
  min-height: 55px;
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
// .gl-content-item-right {
//   width: 70%;
//   min-height: 55px;
//   background: #fff;
//   height: 100%;
//   padding: 15px;
//   margin-right: 2px;
// }
// .gl-content-item-left {
//   width: 30%;
//   // min-height: 700px;
//   background: #fff;
//   padding: 15px;
//   display: inline-block;
// }
.gl-btn-row {
  .gl-flex;
  margin-bottom: 15px;
}
.gl-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gl-inline-block {
  display: inline-block;
}
.gl-block {
  display: block;
}
.gl-full-size {
  width: 100%;
  height: 100%;
}
.gl-full-width {
  width: 100%;
}
.gl-full-height {
  height: 100%;
}
.gl-pointer {
  cursor: pointer;
}
.gl-margin-top-15 {
  margin-top: 15px;
}
.gl-padding-top-15 {
  padding-top: 15px;
}
.gl-text-center {
  text-align: center;
}
.gl-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gl-second-title {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 15px;
  // color: #808080;
}
.gl-bottom-border {
  border-bottom: 1px solid #e4e7ed;
}
.el-menu-item {
  .gl-text-overflow;
}
.gl-top-border {
  border-top: 1px solid #e4e7ed;
}
.gl-right-border {
  border-right: 1px solid #e4e7ed;
}
.gl-left-border {
  border-left: 1px solid #e4e7ed;
  // box-shadow: 2px 2px 1px #aaa;
}
.current-admin-spliter {
  .gl-bottom-border;
  display: block;
  left: 20px;
  right: 20px;
  position: absolute;
}
.dialog-height {
  max-height: 300px;
  overflow: auto;
  padding-left: 10px;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
}