.gl-content-item {
  width: 100%;
  min-height: 55px;
  background: #fff;
  padding: 15px;
  margin: 10px 0px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.gl-content-form {
  width: 100%;
  min-height: 55px;
  background: #fff;
  padding: 15px 15px 0px 15px;
  margin: 10px 0px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.gl-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gl-btn-row {
  .gl-flex;
  margin-bottom: 15px;
}
.gl-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gl-second-title {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 15px;
  // color: #808080;
}
.gl-full-height {
  height: 100%;
}
.gl-full-width {
  width: 100%;
}
.gl-full-size {
  height: 100%;
  width: 100%;
}
.gl-main-content {
  .gl-full-size;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 20px -10px #000;
}
.gl-table-func {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.el-menu {
  border-right: none !important;
}
// .el-scrollbar__wrap{
//   overflow: hidden;
//   margin-bottom: 0 !important;
//   margin-right:  0 !important;
// }
// 查询样式
.input-min-width {
  min-width: 215px;
}